__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

/data/raw/*
/data/interim/*
/data/processed/*
!/data/raw/.gitkeep
!/data/interim/.gitkeep
!/data/processed/.gitkeep

.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db
